<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>

    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="success-message">
            Registration Successful!
        </div>
        <p>Your registration has been completed successfully. Thank you for signing up!</p>
        <a href="/login-form" class="return-link">Login Account</a>
    </div>

</body>

</html>
